* {
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    --main-colour: rgb(240, 240, 240);
    --accent-calour: #00AD7C;
    list-style: none;
}

header {
    background-color: var(--accent-calour);
}

.logo {
    text-align: end;
}

.sidebar {
    text-align: center;
    position: fixed;
    left: -90px;
    top: 250px;
    transition: 0.4s;
    width: 100px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    background-color: var(--accent-calour);
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 7px #888888;
    z-index: 5;
} 

.sidebar ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.sidebar:hover {
    left: -5px;
}

.about {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
}

.projects {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

.skills {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
}

.lets-chat {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
}

.form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form textarea {
    margin-top: 10px;
    width: 100%;
}


.links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.links li {
    padding: 2%;
}