* {
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
    font-family: 'Gill', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --main-colour: rgb(240, 240, 240);
    --accent-calour: #4675B8;
    list-style: none;
}

header {
    background-color: var(--accent-calour);
    box-shadow: 0px 0px 0px 7px #888888;
    margin-bottom: 10px;

}

header .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .logo {
        display: none;
        
    }
}

.title {
    color: var(--main-colour);
    padding: 1.5rem;
} 

.logo {
    text-align: end;
}

.sidebar {
    text-align: right;
    position: fixed;
    left: -80px;
    top: 250px;
    transition: 0.4s;
    width: 100px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    background-color: var(--accent-calour);
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 7px #888888;
    z-index: 5;
} 

.sidebar ul li {
    margin-top: 10px;
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: var(--main-colour);
}

.sidebar:hover {
    left: -5px;
}

.about {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
}

.projects {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}


.skills {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
}

.lets-chat {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px;
}

.support {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 60px;
    box-shadow: 4px 7px #888888;
    border-radius: 5px; 
}

.form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form textarea {
    margin-top: 10px;
    width: 100%;
}


.links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.links li {
    padding: 2%;
}

.links img {
    width: 75%;
    height: auto;
}

.copyright {
    text-align: center;
}

