* {
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
}

header {
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    background-color: #00AD7C;
    z-index: 3;
}

.sidebar {
    text-align: center;
    position: fixed;
    left: -90px;
    top: 200px;
    transition: 0.4s;
    width: 100px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    background-color: #00A8CA;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 7px #888888;
} 

.sidebar ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.sidebar:hover {
    left: -5px;
}

.container {
    position: relative;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 100%;
    text-align: center;
}

.container ul li {
    list-style: none;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.links {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.links li {
    padding-right: 10px;
    color: antiquewhite;
}

.grid-container {
    display: inline-grid;
    grid-gap: 50px;
    grid-template-columns: 250px 250px;
    margin-bottom: 20px;
}

.Gotolink {
    margin-top: 150px;
}

.contact {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-top: 15px;
}

.form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form textarea {
    margin-top: 10px;
    width: 100%;
}