<!DOCTYPE html>
<html>
  <head>
    <title>404 Not Found</title>
    
    <style>
      /* 404 Page */
      .PNF-title {
        position: absolute;
        width: 40%;
        top: 10%;
        left: 30%;
        color: white;
        background-color: rgba(61, 60, 60, 0.7);
        border-radius: 15px;
        padding: .1em .25em 1.5em 1.5em;
        text-align: center;
        font-size: larger;
        font-weight: 800;
      }

      img {
        width: 100%;
      }

      a {
        color: white;
      }

    </style>

  </head>
  <body>
    <img src="../static/pics/404-galaxy.jpg" alt="Galaxy Image">
      <div class="PNF-title">
        <h1>Page Not Found</h1>
        <p>The page you are looking for was lost. Please try again or <a href="mailto:info@alderautomation.ca">report</a> the issue. Thank you. </p>
      </div>
  </body>
</html>


