<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {% include 'head.html' %}
    <body>
        <div class="content">
            <script src="https://embed.small.chat/T025D8U6F2AC041U4497RV.js" async></script>
            {% include 'countdown.html' %}
            <!-- Header -->
            <header>  
                <div class="header-container non-home-page">
                    {% include 'header.html' %}
                </div>
            </header>

            <div class="about-us-container">
                <p>Our team is dedicated to the development of quality software solutions that are reliable, efficient, and make the most sense for you. We are committed to creating the best possible product for you and your business.</p>
                <br>
                <ul>
                    <li>Website design & build </li>
                    <li>Search Engine Optimization</li>
                    <li>Custom desktop and mobile apps</li>
                    <li>Task automations </li>
                    <li>API integrations </li>
                    <li>Database creation and optimizations </li>
                    <li>Custom reporting</li>
                    <li>And much more. <a href="mailto:info@alderautomation.ca">Contact Us</a> to see if we can help you</li>
                </ul>
                <br>
                <p>We do this because this is our passion. We are devoted to the development and production of software applications and enjoy the challenge of solving the puzzles that our customers provide.</p>
                <br>
                <p>Our head office is in the Greater Vancouver region of British Columbia, our team is spread across Canada, and we can be found on <a href="https://www.facebook.com/AlderAutomation" target="_blank">Facebook</a> and <a href="https://www.instagram.com/alder_automation/" target="_blank">Instagram</a>, where we post regularly about what we are doing and what we are working on.</p>
                <br>
                <p>Our office hours are 9am-5pm PST but you can send us an online message at any time, and we will respond as quickly as possible.</p>
            </div>

            <!-- Testimonials -->
            {%include 'testimonials.html'%}
        </div> <!-- end content -->

        <!-- Footer -->
        {% include 'footer.html' %}
    </body>

    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/testimonials.js') }}"></script>

</html>