<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {% include 'head.html' %}
    <body>
        <div class="content">
            <script src="https://embed.small.chat/T025D8U6F2AC041U4497RV.js" async></script>
            {% include 'countdown.html' %}
            <!-- Header -->
            
            <header>
                <div class="header-container non-home-page">
                    {% include 'header.html' %}
                </div>
            </header>

            <!-- Email Form -->
            <div class="email_container">
                <p>"Feel free to reach out to us using the form below, or using chat button at the bottom. Thank you so much for stopping by."</p><br>
                <form method="POST" action="#popup">
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name" required> <br><br>
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" required><br><br>
                    <label for="message">Message: </label><br>
                    <textarea type="text" id="message" name="message" rows="8" required></textarea><br><br>
                    <input type="submit" id="submit" value="Send" class="send-btn">
                </form><br>

                <div class="popup" id="popup">
                    <div class="popup-content">
                        <h4>Thank you</h4>
                        <p>Your email has been submitted and you should receive a response shortly.</p>
                        <a href="{{ url_for('home')}}">Back Home</a>
                    </div>
                </div>
            </div>
        </div> <!-- end content -->
        
        <!-- Footer -->
        {% include 'footer.html' %}
    </body>
</html>