<footer>
    <div class="internal-links-container">
        {%include 'nav-items.html'%}
    </div>
    <div class="social-links-container">
        <ul>
            <li><a href="https://www.facebook.com/AlderAutomation" target="_blank"><i class="fa-brands fa-facebook" "></i></a></li>
            <li><a href="https://twitter.com/AlderAutomation" target="_blank"><i class="fa-brands fa-twitter" "></i></a></li>
            <li><a href="https://www.instagram.com/alder_automation/" target="_blank"><i class="fa-brands fa-instagram" "></i></a></li>
            <li><a href="https://www.linkedin.com/company/alderautomation/?viewAsMember=true" target="_blank"><i class="fa-brands fa-linkedin" "></i></a></li>
            <li><a href="https://github.com/AlderAutomation?tab=repositories" target="_blank"><i class="fa-brands fa-github" "></i></a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>This site hand crafted by Matthew at AlderAutomation </p>
        <p>Copyright 2023 AlderAutomation</p>
    </div>
</footer>
