<!DOCTYPE html>

<html lang="en">
    <body>
        {% extends "layout.html" %}
        {% block content %}

        <p>Repetive tasks got you feeling run down? Why not automate them.</p>
        <br>
        <p>Manually checking status of systems?  Why not have those systems notify you instead!</p>
        <br>
        <p>At Alder Automation we can save you hundreds of hours of manual labour allowing you to free up your time for the things that you want to do. <br> 
        Contact us today so we can help you take back your life!  </p>
        <br>
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid itaque, blanditiis, <br> sit iusto saepe sequi illum et voluptatem repellendus ratione <br> accusantium molestiae consectetur voluptatibus ea mollitia esse <br>  temporibus id eius!

        {% endblock %}
    </body>
</html>