<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="We do Software, Web, and Mobile Development as well as Search Engine Optimization, and IT Services.">
        <link rel ="stylesheet" href="{{ url_for('static', filename='css/main.css' )}}">
        <link rel="shortcut icon" href="../static/pics/favicon.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/bd96cffda5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet"> 
        <title>AlderAutomation - Software Development</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
<body>
    <script src="https://embed.small.chat/T025D8U6F2AC041U4497RV.js" async></script>
    <header>  
        <img src="../static/pics/header-bg-1.jpeg" alt="stylized pic of computer screens" class="background-image">
        
        <!-- Title / Nav Bar -->
        <div class="header-container">
            <header-bar>
                <div class="left-section">
                    <img src="../static/pics/headericon.png" alt="AlderAutomation Logo" width="90px">
                    <h1>ALDERAUTOMATION</h1>
                </div>
                <div class="right-section">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </header-bar>
        </div>

        <div class="top-flavour-text">
            <h2 class="one">Custom Software Solutions</h2>
            <h2 class="two">Web Design</h2>
            <h2 class="three">IT Services</h2>
        </div>
    </header>

    <!-- Services -->
    <main>
        <div class="services_container">
            <h2 class="service-title">Some Services that we Offer</h2>
            <div class="row">
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card_content">
                        <h3 class="card-title">Custom Software Solutions</h3>
                        <p class="card_description">text</p>
                    </div>
                </div>
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card_content">
                        <h3 class="card-title">Android Development</h3>
                        <p class="card_description">text</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card_content">
                        <h3 class="card-title">IT Services & Training</h3>
                        <p class="card_description">text</p>
                    </div>
                </div>
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card_content">
                        <h3 class="card-title">Database Management</h3>
                        <p class="card_description">text</p>
                    </div>
                </div>

            </div>
    </main>