<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="We do Software, Web, and Mobile Development as well as Search Engine Optimization, and IT Services.">
        <link rel ="stylesheet" href="{{ url_for('static', filename='css/main.css' )}}">
        <link rel="shortcut icon" href="../static/pics/favicon.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/bd96cffda5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet"> 
        <title>AlderAutomation - Software Development</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-H97GF5FXFZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-H97GF5FXFZ');
        </script>
    </head>
<body>
    <script src="https://embed.small.chat/T025D8U6F2AC041U4497RV.js" async></script>
        
    <header class="container-fluid">
        <div class="row">
            <div class="logo">
                <img src="../static/pics/headericon.png" alt="AlderAutomation Logo" width="90px">
            </div>
            <div class="title">
                <h1>ALDERAUTOMATION</h1>
                <h4>Software Automation. Android, Software, & Web Development. </h4>
            </div>
        </div>
    </header>
    <a class="Gotolink" id="aboutme"></a><br>


    <!-- Sider Bar Nav -->
    <div class="sidebar">
        <ul>
            <li><a href="#aboutme">About Me</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#lets-chat">Let's Chat</a></li>
            <li><a href="#support">Support</a></li>
        </ul>
    </div>

    <main>
        <div class="container">
            <div class="about row">
                <h2>About Me</h2><br>
                
                <p> I am a Software Developer making the change from hobby to career. Primarily I work in Python but will also work in many other languages such as PHP, C++, and Java. I am able to do front end UI/UX as well as back end systems and in Windows, Linux, MacOS, and Android. I have even worked on some game development with Godot and PyGame as well as some pixel art. All the icons in the footer of this page are my own pixel arts. </p>
                <br>
                <p>Currently I am offering development services for Web, Desktop, and Mobile. Also offering IT services including but not limited to virus removal, repairs, optimizations, training, and purchasing. If you need something, feel free to fill out the contact form and I’ll get back to you as soon as possible.</p>

                <br>
                <br>
            </div>
            <a class="Gotolink" id="projects"></a><br>

            <!-- Projects -->
            <div class="row projects">
                <h2>Projects</h2>
                <br>

                <div class="col-sm-6">
                    <ul>
                        <li><h4>Calculator</h4><br></li>
                        <li><iframe width="90%" height="320" src="https://www.youtube.com/embed/vZUKGjf8Zuw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                        <li><br></li>
                        <li><a href="https://github.com/AlderAutomation/pyqtcalculator" target="_blank">Github</a></li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <ul>
                        <li><h4>CameraToText</h4><br></li>
                        <li><iframe width="90%" height="320" src="https://www.youtube.com/embed/Ut3Xaq1XMNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                        <li><br></li>
                        <li>
                            <a href="https://github.com/AlderAutomation/CameraToEmail" target="_blank">Github</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <ul>
                        <li><h4>TeaCozy Website</h4><br></li>
                        <li><a href="../static/TeaProject/index.html" target="_blank"><img src="../static/pics/TeaCozy.png" alt="TeaCozy Website" width="90%" height="320"></a></li>
                        <li><br></li>
                        <li>
                            <a href="https://github.com/AlderAutomation/TeaCozy" target="_blank">Github</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <ul>
                        <li><h4>Branch Pinger</h4><br></li>
                        <li><iframe width="90%" height="320" src="https://www.youtube.com/embed/xNMp6FwzKmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                        <li><br></li>
                    </ul>
                </div>

                <br>
                <br>
            </div>

            <div class="row skills">
                <a class="Gotolink" id="skills"></a><br>
                <h2>Skills</h2>
                <br>
                <ul>
                    <li><h3>Programming Languages</h3></li>
                        <ul>
                            <li>Python</li>
                            <li>HTML & CSS & JavaScript</li>
                            <li>Java</li>
                            <li>C++</li>
                            <li>Bash & Powershell</li>
                            <li>Android Java</li>
                            <li>Godot game engine </li>
                            <li>PHP</li>
                        </ul>
                        <br>
                        <br>

                    <li><h3>Version Control</h3></li>
                        <br>
                        <ul>
                            <li>Git</li>
                            <li>Github</li>
                            <li>Gitlab</li>
                        </ul>
                        <br>
                        <br>
                    
                    <li><h3>Other</h3></li>
                        <ul>
                            <li>Pixel Art, all icons in footer are custom made pixel arts</li>
                            <li>Linux/Windows Server Administration</li>
                        </ul>
                        <br>
                        <br>

                </ul>
                <br>
                <br>
            </div>


            <div class="row lets-chat">
                <h2>Let's Chat</h2>
                <br>
                <a class="Gotolink" id="lets-chat"></a><br>
                <form class="form col-sm-12" method="POST" action="/">
                    <label for="name">Your Name: </label>
                    <input type="text" id="name" name="name"><br>
                    <label for="email">Your Email: </label>
                    <input type="email" name="email" id="email"><br>
                    <label for="subject">Subject: </label>
                    <input type="text" name="subject" id="subject"><br>
                    <label for="message">Your Message: </label><br>
                    <textarea name="message" id="message" rows="6"></textarea><br>
                    <input id="submit" type="submit" value="Send">
                </form>
                <br>
                <br>
            </div>
            <div class="row support">
                <h2>Support Me</h2>
                <br>
                <a class="Gotolink" id="support"></a><br>
                <p>Here are some ways to support me. The more support I can get, the more I can focus on programming and creating better software. Let me know if there is another method you would like to see added. </p>
                <br>
                <ul>
                    <li><a href="https://www.patreon.com/AlderAutomation" target="_blank">Patreon</a></li>
                    <li><p>Bitcoin:   3FFkE4RpiJhgP2YDYmwWBgkEoxgXePLB36</p></li>
                    <li><a href="https://paypal.me/alderautomation?country.x=CA&locale.x=en_US">PayPal</a></li>
                    <li></li>
                </ul>
                <br>
                <br>
            </div>

        </div>
    </main>

<!-- Footer -->
    <footer class="row">
        <ul class="links">
            <li><a href="mailto:info@alderautomation.ca" target="_blank"><img src="../static/pics/EmailIcon.png" alt="Email Me"></a></li>
            <li><a href="https://github.com/AlderAutomation" target="_blank"><img src="../static/pics/GHIcon.png" alt="Github"></a></li>
            <li><a href="https://twitter.com/AlderAutomation" target="_blank"><img src="../static/pics/Twittericon.png" alt="Twitter"></a></li>
            <li><a href="https://www.facebook.com/AlderAutomation" target="_blank"><img src="../static/pics/FBIcon.png" alt="Facebook"></a></li>
            <li><a href="https://www.youtube.com/channel/UCO4GDb-HpSN5MWBbreAVzAA" target="_blank"><img src="../static/pics/YTIcon.png" alt="Youtube"></a></li>
            <li><a href="https://www.linkedin.com/in/matthew-heltman-596b07202/" target="_blank"><img src="../static/pics/LinkedinIcon.png" alt="Linkedin"></a></li>
            <li><a href="https://www.patreon.com/AlderAutomation" target="_blank"><img src="../static/pics/PatreonIcon.png" alt="Patreon"></a></li>
        </ul>
        <p class="copyright">@2021 AlderAutomation proudly created by Matthew Heltman</p>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
    </script>
</body>

</html>