<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    {% include 'head.html' %}
    <body>
        <div class="content">
            <script src="https://embed.small.chat/T025D8U6F2AC041U4497RV.js" async></script>
            {% include 'countdown.html' %}
            <!-- Header -->
            <header>  
                <img src="../static/pics/index-header-bg.jpeg" alt="stylized pic of computer screens" class="background-image">
                <div class="header-container">
                    {% include 'header.html' %}
                </div>
            
                <div class="top-flavour-text">
                    <h2 class="one">Custom Software</h2>
                    <h2 class="two">Web Design</h2>
                    <h2 class="three">IT Services</h2>
                </div>
            </header>
                
                <!-- Services -->
            <main>
                <div class="services-container">
                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/pics/CustomSoftware.jpeg" alt="" class="card-image-img">
                                <div class="card-content">
                                    <h3 class="card-title">Custom Software Solutions</h3>
                                    <p class="card-description">Our tailored software solutions automate tasks, streamline processes, and eliminate inefficiencies. Let us revolutionize the way you work. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/pics/AndroidDev.jpeg" alt="" class="card-image-img">
                                <div class="card-content">
                                    <h3 class="card-title">Android Development</h3>
                                    <p class="card-description">Tap into the vast Android user base with our high-quality, user-friendly app development. We create engaging Android experiences that make a lasting impact. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/pics/TempITServices.jpeg" alt="" class="card-image-img">
                                <div class="card-content">
                                    <h3 class="card-title">IT Services</h3>
                                    <p class="card-description">Our IT infrastructure services maximize performance and efficiency. We assess your current infrastructure, identify improvements, and implement tailored solutions to support your organization's success. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-image">
                                <img src="../static/pics/dbmgmnt.jpeg" alt="" class="card-image-img">
                                <div class="card-content">
                                    <h3 class="card-title">Database Management</h3>
                                    <p class="card-description">Our comprehensive database management services ensure secure, efficient, and scalable databases. Experience streamlined operations, improved data accessibility, and actionable insights for informed decision-making. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
                
            <!-- Customers -->
            <div class="customer-container">
                <h2 id="companies">Companies We Have Worked With</h2>
                <ul>
                    <li><a href="http://www.hillsideslopemowing.ca" target="_blank"><img src="../static/pics/Hillside-transparent.png" alt="Hillside logo"></a></li>
                    <li><a href="https://hytecwater.com" target="_blank"><img src="../static/pics/header-logo.png" alt="hytec logo"></a></li>
                </ul>
            </div>

            <!-- Testimonials -->
            {%include 'testimonials.html'%}
        </div>


        <!-- Footer -->
        {% include 'footer.html' %}
    </body>

    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/testimonials.js') }}"></script>
    
</html>
