<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel ="stylesheet" href="{{ url_for('static', filename='css/main.css' )}}">
        <link rel="shortcut icon" href="../static/pics/AlderLogoBW.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/bd96cffda5.js" crossorigin="anonymous"></script>

        <title>Alder Automation</title>
    </head>
<body>
    <header>
        <h1>Alder Automation</h1>
        <h4>Software Automation. Android, Software, & Web Development. </h4>
    </header>

    <!-- Sider Bar Nav -->
    <div class="sidebar">
        <ul>
            <li>About</li>
            <li>Projects</li>
            <li>Skills</li>
            <li>Contact</li>
        </ul>
    </div>
    <main>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
    </main>


    <!-- Footer -->
    <footer>
        <ul class="links">
            <li><a href="mailto:info@alderautomation.ca" target="_blank"><img src="../static/pics/EmailIcon.png" alt="Email Me"></a></li>
            <li><a href="https://github.com/AlderAutomation" target="_blank"><img src="../static/pics/GHIcon.png" alt="Github"></a></li>
            <li><a href="https://twitter.com/AlderAutomation" target="_blank"><img src="../static/pics/Twittericon.png" alt="Twitter"></a></li>
            <li><a href="https://www.facebook.com/AutoMatthew/" target="_blank"><img src="../static/pics/FBIcon.png" alt="Facebook"></a></li>
            <li><a href="https://www.youtube.com/channel/UCO4GDb-HpSN5MWBbreAVzAA" target="_blank"><img src="../static/pics/YTIcon.png" alt="Youtube"></a></li>
            <li><a href="https://www.linkedin.com/in/matthew-heltman-596b07202/" target="_blank"><img src="../static/pics/LinkedinIcon.png" alt="Linkedin"></a></li>
        </ul>
        <p>@2021 AlderAutomation proudly created by Matthew Heltman</p>
    </footer>
</body>

</html>